## PANDAS

# Data Structure in Pandas are 3 types

# 1.Series
# 2.Data Frame
# 3.panal

# Series:-

In [30]:
import pandas as pd
import numpy as np
arr=np.array([1,2,3,4,5])
s=pd.Series(arr)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [31]:
arr=np.array([1,2,3,4,5])
s1=pd.Series(arr,index=['one','two','three','four','five'])
print(s1)

one      1
two      2
three    3
four     4
five     5
dtype: int32

In [33]:
#Creating a circular value
arr=np.array(35)
s2=pd.Series(arr,index=[1,2,3,4,5])
print(s2)

1    35
2    35
3    35
4    35
5    35
dtype: int32

In [11]:
#Creating a series like a dictionary in python
s1=pd.Series({'Name':'MRG_007','Age':22,'Work':'Studying in 2nd year'})
print(s1)

Name                 MRG_007
Age                       22
Work    Studying in 2nd year
dtype: object

In [14]:
s.index

Index([1, 2, 3, 4, 5], dtype='int64')

In [26]:
s.iloc[2]

35

# Mathematical Operation in Series data structure

In [49]:
arr=np.arange(10)
s2=pd.Series(arr)
print(s2)
print("***********************************************************")
print("Multipling series by 3\n",s2*3)
print("***********************************************************")
print("Power series by 2\n",s2**2)
print("***********************************************************")
print("even value series\n ",s2[s2%2==0])

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
***********************************************************
Multipling series by 3
 0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
dtype: int32
***********************************************************
Power series by 2
 0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32
***********************************************************
even value series
  0    0
2    2
4    4
6    6
8    8
dtype: int32

In [50]:
ar1=np.arange(0,16,2)
ar2=np.arange(16,32,2)
s1=pd.Series(ar1)
s2=pd.Series(ar2)
print(s1+s2)
print(s1-s2)
print(s1*s2)

0    16
1    20
2    24
3    28
4    32
5    36
6    40
7    44
dtype: int32
0   -16
1   -16
2   -16
3   -16
4   -16
5   -16
6   -16
7   -16
dtype: int32
0      0
1     36
2     80
3    132
4    192
5    260
6    336
7    420
dtype: int32

# Head() & Tail()

In [54]:
print(s1.head()) #head() function is used to return first 5 values from the series
print("\nfirst 4 value is")
print(s1.head(4))

0    0
1    2
2    4
3    6
4    8
dtype: int32

first 4 value is
0    0
1    2
2    4
3    6
dtype: int32

In [55]:
print(s1.tail()) #head() function is used to return last 5 values from the series
print("\nlast 4 value is")
print(s1.tail(4))

3     6
4     8
5    10
6    12
7    14
dtype: int32

last 4 value is
4     8
5    10
6    12
7    14
dtype: int32

# Selection in series

In [56]:
#series provides index label loc and iloc and [] to access rows and columns
#1.loc index label :-
print(s1.loc[2:])

2     4
3     6
4     8
5    10
6    12
7    14
dtype: int32

In [57]:
print(s1.loc[:2]) # lt is similar as silicing we can also give expression index[].

0    0
1    2
2    4
dtype: int32

In [58]:
#2.iloc index label
print(s1.iloc[:3]) #same as loc[]

0    0
1    2
2    4
dtype: int32

In [66]:
#3.[] ->same as above but we can provide single index also like s2[index].
print(s2[2])# lt return only values of the specified index
print()
print(s2[2:])

20

2    20
3    22
4    24
5    26
6    28
7    30
dtype: int32

# Slicing

In [67]:
#series_name[start:stop:step]
s1[0:6:2]

0    0
2    4
4    8
dtype: int32